@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/**/

*:focus {
  outline: none;
}

/**/

:root {
  --max-width: 1024px;
  --min-width: min-content;

  --border-thin: 1px;
  --border-thick: 2px;
  --border-fat: 4px;

  --color-0: #000;
  --color-1: #111;
  --color-2: #222;
  --color-3: #333;
  --color-4: #444;
  --color-5: #555;
  --color-6: #666;
  --color-6: #777;
  --color-8: #888;
  --color-9: #999;
  --color-10: #aaa;
  --color-11: #bbb;
  --color-12: #ccc;
  --color-13: #ddd;
  --color-14: #eee;
  --color-15: #fff;
  --color-16: rgba(255, 255, 255, 0.33);

  --font: "JetBrains Mono", monospace;

  --font-xsmall: 11px;
  --font-small: 12px;
  --font-normal: 13px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-xlarge: 24px;

  --font-fat: 900;
  --font-thick: 700;
  --font-thin: 500;

  --footer-height-small: 60px;
  --footer-height-large: 80px;

  --gap-xlarge: 16px;
  --gap-large: 12px;
  --gap-normal: 8px;
  --gap-small: 4px;
  --gap-xsmall: 2px;
  --gap-xxsmall: 1px;

  --icon-large: 40px;
  --icon-medium: 30px;
  --icon-small: 20px;

  --logo: 33px;

  --margin-xlarge: 16px;
  --margin-large: 12px;
  --margin-normal: 8px;
  --margin-small: 4px;
  --margin-xsmall: 2px;
  --margin-xxsmall: 1px;

  --padding-xlarge: 16px;
  --padding-larger: 14px;
  --padding-large: 12px;
  --padding-normal: 8px;
  --padding-fourthless: 6px;
  --padding-small: 4px;

  --pc100: 100%;

  --radius-normal: 8px;
  --radius-small: 4px;

  --shadow: 0px -8px 16px 16px rgba(0, 0, 0, 0.25);

  --zero: 0px;
}

/**/

b {
  font-weight: var(--font-fat);
}

body {
  font-family: var(--font);
  font-size: var(--font-normal);
  margin: var(--zero);
  padding: var(--zero);
  background-color: var(--color-13);
  color: var(--color-4);
  overflow-y: scroll;
}

hr {
  margin-top: var(--margin-xlarge);
  margin-bottom: var(--margin-xlarge);
  border-top: var(--border-thin) solid var(--color-10);
  border-bottom: var(--border-thin) solid var(--color-13);
  border-left: none;
  border-right: none;
}

html {
  -webkit-text-size-adjust: var(--pc100);
  -moz-text-size-adjust: var(--pc100);
  -ms-text-size-adjust: var(--pc100);
}

/**/

.bg_pool {
  background-color: var(--color-pool);
  color: var(--color-14);
}

.bg_dark {
  background-color: var(--color-4);
  color: var(--color-14);
}

.bg_light {
  background-color: var(--color-6);
  color: var(--color-14);
}

.bg_vlight {
  background-color: var(--color-10);
}

.bg_vlight_bdr_pool {
  background-color: var(--color-11);
  color: var(--color-4);
  border: var(--border-thick) solid var(--color-pool);
}

.bg_vlight_bdr_dark {
  background-color: var(--color-11);
  color: var(--color-4);
  border: var(--border-thick) solid var(--color-4);
}

/**/

.box,
.box_long_content {
  display: grid;
  padding: var(--padding-xlarge);
  border-radius: var(--radius-normal);
  word-break: break-all;
  align-items: center;
}

.box_debug {
  color: var(--color-4);
  background-color: var(--color-13);
  padding: var(--padding-normal);
  border-radius: var(--radius-small);
  font-size: var(--font-small);
  margin-top: var(--margin-small);
  border: var(--border-thin) dashed var(--color-4);
  text-align: right;
}

.box_info {
  color: var(--color-14);
  border: var(--border-thin) solid var(--color-16);
  padding: var(--padding-small) var(--padding-fourthless);
  border-radius: var(--radius-small);
  font-size: var(--font-xsmall);
  display: flex;
  align-items: center;
}

.box_small,
.box_small_long_content {
  display: grid;
  padding: var(--padding-xlarge);
  border-radius: var(--radius-normal);
  grid-template-columns: auto auto;
  gap: var(--gap-normal);
  word-break: break-all;
  align-items: center;
}

.box_small .box_debug,
.box_small_long_content .box_debug {
  grid-column: span 2;
}

/**/

.color_pool {
  color: var(--color-pool);
}

.color_dark {
  color: var(--color-4);
}

/**/

.content_wrap {
  margin-bottom: var(--footer-height-small);
}

.content {
  background-color: var(--color-12);
  border-radius: var(--radius-normal);
  padding: var(--padding-xlarge);
}

/**/

.cursor_pointer {
  cursor: pointer;
}

/**/

.donate_grid {
  display: grid;
  gap: var(--gap-normal);
}

.donate_grid_item {
  display: grid;
  grid-template-columns: 240px auto min-content;
}

.donate_item_name {
  background-color: var(--color-4);
  color: var(--color-14);
  border-radius: var(--radius-normal) var(--zero) var(--zero) var(--radius-normal);
  padding: var(--padding-xlarge);
  align-content: center;
  font-weight: var(--font-fat);
}

.donate_item_address {
  background-color: var(--color-8);
  padding: var(--padding-xlarge);
  align-content: center;
  word-break: break-all;
}

a.donate_item_link {
  background-color: var(--color-pool);
  color: var(--color-14);
  border-radius: var(--zero) var(--radius-normal) var(--radius-normal) var(--zero);
  padding: var(--padding-xlarge);
  align-content: center;
  display: grid;
  gap: var(--gap-normal);
  align-items: center;
  text-decoration: none;
  text-align: right;
}

a.donate_item_link:hover {
  background-color: var(--color-6);
}

a.donate_item_link:active {
  background-color: var(--color-8);
}

.donate_item_link_text {
  text-align: right;
  display: none;
}

.donate_github_icon {
  margin: var(--margin-xsmall);
  margin-left: var(--margin-xxsmall);
}

/**/

.footer {
  background-color: var(--color-1);
  color: var(--color-14);
  position: fixed;
  bottom: var(--zero);
  width: var(--pc100);
  font-size: var(--font-xsmall);
}

.footer_content {
  display: grid;
  grid-template-columns: auto min-content;
  gap: var(--gap-normal);
}

.footer_content_left {
  align-self: center;
}

.footer_content_left a {
  text-decoration: none;
  color: var(--color-pool);
}

.footer_content_left a:hover {
  text-decoration: underline;
}

.footer_content_right {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  column-gap: var(--gap-normal);
}

.footer_content_right a {
  color: var(--color-15);
}

.footer_content_right .material-symbols-outlined {
  font-size: var(--font-xlarge) !important;
}

.footer_version {
  margin: unset;
  padding: unset;
  font-family: inherit;
  color: var(--color-6);
}

/**/

.gap_small {
  gap: var(--gap-small) !important;
}

/**/

.header {
  background-color: var(--color-5);
  position: sticky;
  top: var(--zero);
  width: var(--pc100);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.header_content {
  display: grid;
  gap: var(--gap-normal);
}

.header_top {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  gap: var(--gap-normal);
}

.header_top_left {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: var(--gap-xlarge);
  align-items: center;
}

.header_top_right {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: var(--gap-normal);
}

.header_info {
  background-color: var(--color-2);
  display: grid;
  align-items: center;
  padding: var(--padding-large);
  color: var(--color-14);
  border-radius: var(--radius-normal);
  font-size: var(--font-xsmall);
  grid-template-columns: min-content min-content;
}

.header_navi {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap-normal);
}

.header_navi_item {
  user-select: none;
}

a.header_navi_item {
  text-decoration: none;
  background-color: var(--color-6);
  padding: var(--padding-large);
  border-radius: var(--radius-normal);
  color: var(--color-14);
  display: grid;
  border-bottom: var(--border-fat) solid var(--color-3);
}

a.header_navi_item_text {
  grid-template-columns: min-content auto;
  align-items: center;
  gap: var(--gap-normal);
}

a.header_navi_item:hover {
  background-color: var(--color-8);
}

a.header_navi_item:active {
  background-color: var(--color-4);
}

.header_navi_item_select {
  border-bottom: var(--border-fat) solid var(--color-pool) !important;
}

/**/

.hidden {
  display: none;
}

/**/

.home_ports {
  display: grid;
  row-gap: var(--gap-normal);
}

.home_port {
  background-color: var(--color-13);
  padding: var(--padding-xlarge);
  border-radius: var(--radius-normal);
  display: grid;
  row-gap: var(--gap-normal);
}

.home_port_type {
  text-transform: uppercase;
  font-weight: var(--font-fat);
}

.home_port_command {
  word-break: break-all;
  background-color: var(--color-12);
  padding: var(--padding-normal) var(--padding-large);
  border-radius: var(--radius-normal);
  line-height: 2;
}

.home_port_command b {
  background-color: var(--color-pool);
  color: var(--color-3);
  padding: var(--padding-small) var(--padding-normal);
  border-radius: var(--radius-small);
}

/**/

.hr_inner {
  width: calc(var(--pc100) - var(--margin-xlarge)) !important;
}

.hr_list {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
  width: var(--pc100);
}

.hr_wrap {
  margin-top: var(--margin-normal);
  margin-bottom: var(--margin-normal);
  border-top: var(--border-thin) solid var(--color-9);
  border-bottom: var(--border-thin) solid var(--color-11);
  border-left: none;
  border-right: none;
}

.hr_wlist {
  margin-top: var(--zero) !important;
  margin-bottom: var(--zero) !important;
}

/**/

.icon_small {
  font-size: var(--icon-small) !important;
}

/**/

.logo_height {
  height: var(--logo);
}

/**/

.line_height_zero {
  line-height: var(--zero);
}

/**/

.list_icon_small {
  font-size: var(--font-medium) !important;
  margin-right: var(--margin-small);
}

.list_button {
  text-decoration: none;
  user-select: none;
}

.list_wrap {
  display: grid;
  row-gap: var(--gap-normal);
}

/**/

.margin_top_a {
  margin-top: calc(var(--zero) - var(--margin-small));
}

.margin_top_b {
  margin-top: var(--margin-normal);
}

.margin_right_a {
  margin-right: var(--margin-small);
}

.margin_right_b {
  margin-right: var(--margin-normal);
}

.margin_bottom_b {
  margin-bottom: var(--margin-normal);
}

.margin_bottom_c {
  margin-bottom: var(--margin-xlarge);
}

.margin_bottom_unset {
  margin-bottom: unset;
}

/**/

.pool_list {
  display: grid;
  row-gap: var(--gap-normal);
}

.pool_list_infos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-small);
  margin-top: var(--margin-small);
}

.pool_list_wrap {
  gap: var(--gap-xlarge);
  display: grid;
  grid-template-columns: min-content auto min-content;
  align-items: center;
}

/**/

.reveal_button {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: center;
  column-gap: var(--gap-normal);
}

.reveal_button_text {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: var(--gap-normal);
}

.text_header {
  font-size: var(--font-xlarge);
  font-weight: var(--font-fat);
  color: var(--color-pool);
  line-height: 1;
  margin-bottom: var(--margin-normal);
}

.text_subheader {
  font-size: var(--font-medium);
  font-weight: var(--font-thick);
  color: var(--color-4);
  line-height: 1;
  margin-bottom: var(--margin-normal);
}

.text_normal {
  font-size: var(--font-normal);
  font-weight: var(--font-thin);
  margin-bottom: var(--margin-normal);
  color: var(--color-6);
}

.text_large {
  font-weight: var(--font-fat);
  font-size: var(--font-large);
  display: flex;
  align-items: center;
}

.text_heavy {
  font-weight: var(--font-fat);
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.text_inherit_fontsize {
  font-size: inherit;
}

.text_break_all {
  word-break: break-all;
}

.columns_three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gap-normal);
}

.columns_two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--gap-normal);
}

.wallet_address {
  display: grid;
  grid-template-columns: auto min-content;
  width: var(--pc100);
}

.wallet_address input {
  font-family: var(--font);
  font-size: var(--font-normal);
  background-color: var(--color-10);
  border: unset;
  border-radius: var(--radius-normal) var(--zero) var(--zero) var(--radius-normal);
  padding: var(--padding-xlarge);
}

.wallet_address input[type=submit] {
  background-color: var(--color-pool);
  color: var(--color-14);
  border-radius: var(--zero) var(--radius-normal) var(--radius-normal) var(--zero);
}

.wallet_address input[type=submit]:hover {
  background-color: var(--color-6);
}

.wallet_address input[type=submit]:active {
  background-color: var(--color-8);
}

.width_max {
  width: auto;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding-xlarge);
}

.width_min {
  width: var(--min-width);
}

.wrap {
  padding: var(--padding-normal);
  border-radius: var(--radius-normal);
}

/**/

.header_navi_item .material-symbols-outlined,
.box_small .material-symbols-outlined,
.box_small_long_content .material-symbols-outlined {
  font-size: var(--font-large) !important;
}

/**/

@media (max-width: 900px) {

  .donate_grid_item,
  .box_small_long_content {
    grid-template-columns: unset;
  }

  .donate_item_name {
    border-radius: var(--radius-normal) var(--radius-normal) var(--zero) var(--zero);
  }

  a.donate_item_link {
    border-radius: var(--zero) var(--zero) var(--radius-normal) var(--radius-normal);
    grid-template-columns: auto min-content;
  }

  .donate_item_link_text {
    display: unset;
  }

  .header_navi {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .header_navi_item:first-child {
    grid-column: span 2;
  }

  .pool_list_infos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .pool_list_icon {
    width: var(--icon-large);
    height: var(--icon-large);
    align-self: start;
  }

  .pool_list_wrap {
    gap: var(--gap-normal);
  }

}

@media (max-width: 700px) {
  .box {
    grid-template-columns: max-content auto;
    column-gap: var(--gap-normal);
  }

  .box .text_large,
  .box_long_content .text_large {
    font-size: unset;
    text-align: right;
  }

  .box_debug {
    grid-column: span 2;
  }

  .pool_list_infos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .pool_list_icon {
    width: var(--icon-medium);
    height: var(--icon-medium);
  }

  .columns_three.gap_small,
  .columns_two.gap_small {
    gap: var(--gap-xxsmall) !important;
  }

  .columns_three,
  .columns_two {
    grid-template-columns: auto;
    row-gap: var(--gap-xxsmall);
  }

  .columns_three .box:first-child,
  .columns_three .box_long_content:first-child,
  .columns_three .box_small:first-child,
  .columns_three .box_small_long_content:first-child,
  .columns_two .box:first-child,
  .columns_two .box_long_content:first-child,
  .columns_two .box_small:first-child,
  .columns_two .box_small_long_content:first-child {
    border-radius: var(--radius-normal) var(--radius-normal) var(--zero) var(--zero);
  }

  .columns_three .box,
  .columns_three .box_long_content,
  .columns_three .box_small,
  .columns_three .box_small_long_content,
  .columns_two .box,
  .columns_two .box_long_content,
  .columns_two .box_small,
  .columns_two .box_small_long_content {
    border-radius: var(--zero);
  }

  .columns_three .box:last-child,
  .columns_three .box_long_content:last-child,
  .columns_three .box_small:last-child,
  .columns_three .box_small_long_content:last-child,
  .columns_two .box:last-child,
  .columns_two .box_long_content:last-child,
  .columns_two .box_small:last-child,
  .columns_two .box_small_long_content:last-child {
    border-radius: var(--zero) var(--zero) var(--radius-normal) var(--radius-normal);
  }

}

@media (max-width: 500px) {

  .box,
  .box_small,
  .box_long_content,
  .box_small_long_content {
    grid-template-columns: unset;
    word-break: break-all;
    row-gap: var(--gap-small);
  }

  .content_wrap {
    margin-bottom: var(--footer-height-large);
  }

  .footer {
    padding-bottom: var(--padding-larger);
  }

  .header_navi {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  .header_navi_item:first-child {
    grid-column: unset;
  }

  .header {
    position: unset;
  }

  .header_top_right,
  .wallet_address {
    grid-template-columns: unset;
  }

  .header_info {
    display: none;
  }

  .pool_list_infos {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
  }

  .pool_list_icon {
    width: var(--icon-small);
    height: var(--icon-small);
  }

  .wallet_address input {
    border-radius: var(--radius-normal) var(--radius-normal) var(--zero) var(--zero);
  }

  .wallet_address input[type=submit] {
    border-radius: var(--zero) var(--zero) var(--radius-normal) var(--radius-normal);
  }

}